.ngcfu-file-upload-progressbar {
	-webkit-border-radius: 1em;
       -moz-border-radius: 1em;
            border-radius: 1em;
}

/**
 * http://www.the-art-of-web.com/css/border-radius/
 */
.ngcfu-file-upload-progressbar-item-completion-bar {
	-webkit-border-top-left-radius: 1em;
        -moz-border-radius-topleft: 1em;
            border-top-left-radius: 1em;
}

.ngcfu-file-upload-progressbar-item-completion-bar {
	-webkit-border-bottom-left-radius: 1em;
        -moz-border-radius-bottomleft: 1em;
             border-top-bottom-radius: 1em;
}