<!-- Grid C -->
<section class="wrapper-grid-c">
	<!--- Left Cell -->

	<section class="wrapper-block-a overflow-hidden">
		<h2>My Directive</h2>
		<ng-compression-file-upload
			class="dropbox"
			accept="{{ firstFileUpload.pattern }}"
			
			ngcfu-type="imageUpload"
			ngcfu-image-proportionally="{{ scaleOptions.proportionally }}"
			ngcfu-image-progressive-rendering="{{ scaleOptions.progressiveImageRendering }}"
			ngcfu-image-quality="{{ imageQuality }}"
			ngcfu-image-option-upload-path="{{ firstFileUpload.backendLocation }}"
			ngcfu-image-option-imagethumbnailsize-width="{{ firstFileUpload.imageThumbnailSize.width }}"
			ngcfu-image-option-imagethumbnailsize-height="{{ firstFileUpload.imageThumbnailSize.height }}"

			ng-model="firstFileUpload.files" 

			ngcfu-file-upload-class-name="drop-box"
			ngcfu-ngf-select=""
			ngcfu-ngf-drop=""
			ngcfu-ngf-pattern-compile-bind="firstFileUpload.pattern"
			ngcfu-ngf-multiple-compile-bind="firstFileUpload.multiple"
			ngcfu-ngf-drop-available="dropAvailable"
			>

		</ng-compression-file-upload>
	</section>

	<!--- Right Cell -->
	<section class="wrapper-block-b overflow-hidden">
		<h2>My Directive</h2>
		<ng-compression-file-upload
			class="dropbox"
			accept="{{ secondFileUpload.pattern }}"
			
			ngcfu-type="imageUpload"
			ngcfu-image-proportionally="{{ scaleOptions.proportionally }}"
			ngcfu-image-progressive-rendering="{{ scaleOptions.progressiveImageRendering }}"
			ngcfu-image-quality="{{ imageQuality }}"
			ngcfu-image-option-upload-path="{{ secondFileUpload.backendLocation }}"
			ngcfu-image-option-imagethumbnailsize-width="{{ secondFileUpload.imageThumbnailSize.width }}"
			ngcfu-image-option-imagethumbnailsize-height="{{ secondFileUpload.imageThumbnailSize.height }}"

			ng-model="secondFileUpload.files" 

			ngcfu-file-upload-class-name="drop-box"
			ngcfu-ngf-select=""
			ngcfu-ngf-drop=""
			ngcfu-ngf-pattern-compile-bind="secondFileUpload.pattern"
			ngcfu-ngf-multiple-compile-bind="secondFileUpload.multiple"
			ngcfu-ngf-drop-available="dropAvailable"

			ngcfu-file-upload-info-item="true"
			ngcfu-file-upload-info-item-text=""
			ngcfu-file-upload-info-item-class-name="display-block ngcfu-file-upload-item-text"
			ngcfu-file-upload-item-item-drop-available="true"
			ngcfu-file-upload-item-item-drop-available-text="Drop Image Here"
			ngcfu-file-upload-item-item-drop-available-class-name="ngcfu-file-upload-item-text-drop-available"
			ngcfu-file-upload-item-item-sub-item="true"
			ngcfu-file-upload-item-item-sub-item-text="Click to browse"
			ngcfu-file-upload-item-item-sub-item-class-name="display-block"

			ngcfu-file-upload-progressbar-item="true"
			ngcfu-file-upload-progressbar-item-container-class-name="display-block"
			ngcfu-file-upload-progressbar-item-class-name="ngcfu-file-upload-progressbar"
			ngcfu-file-upload-progressbar-item-completion-bar-class-name="ngcfu-file-upload-progressbar-item-completion-bar"

			ngcfu-file-upload-progressbar-item-text-info="true"
			ngcfu-file-upload-progressbar-item-text-info-text="Uploading"
			ngcfu-file-upload-progressbar-item-text-class-name="display-block ng-compression-file-upload-progressbar-text-info"
			>

		</ng-compression-file-upload>
	</section>
</section>

<!--
<section class="preview">
 	<div>Preview images:</div>
 	<div>Files: {{ fileUpload.files.length }}</div>
 	<div class="image-preview-frame">
 		<img ngf-src="!files[0].$error && fileUpload.files[0]"
 		     style="max-width: {{ fileUpload.imageThumbnailSize.width }}px; max-height:{{ fileUpload.imageThumbnailSize.height }}px;">
 	</div>
 </section>
 -->

<hr/>

<h2>
	Image scaling
</h2>

<section>
	<fieldset>
		<label class="bold" for="filetype">Choose file type:</label>
		<select id="filetype"
				ng-init="filetype = filetypes[0]"
				ng-options="filetype.extension for filetype in filetypes track by filetype.type" 
				ng-model="filetype" ng-change="setNewFileType()"></select>
	</fieldset>

	<fieldset>
		<label class="bold" for="width">Width:</label>
		<input type="number" 
			   dimension-key="width"
			   change-image-dimension
			   ng-value="{{ scaleOptions.dimensions.width }}" 
			   max="{{ originalImageDetails.width }}" 
			   ng-model="scaleOptions.dimensions.width"/>
	</fieldset>

	<fieldset>
		<label class="bold" for="height">Height:</label>
		<input type="number" 
			   dimension-key="height"
			   change-image-dimension
			   ng-value="{{ scaleOptions.dimensions.height }}" 
			   max="{{ originalImageDetails.height }}" 
			   ng-model="scaleOptions.dimensions.height"/>
	</fieldset>

	<fieldset>
		<label class="bold" for="proportionally">Scale proportionally</label>
		<input type="checkbox" ng-model="scaleOptions.proportionally" id="proportionally" />
	</fieldset>

	<fieldset>
		<label class="bold" for="progressive_image_rendering">Progressive Image Rendering</label>
		<input type="checkbox" ng-model="scaleOptions.progressiveImageRendering" id="progressive_image_rendering" />
	</fieldset>

	<fieldset>
		<label class="bold" for="quality">Quality:</label>
		<input type="range" min="0" max="100" value="{{ imageQuality }}" ng-model="imageQuality" id="quality"/>
		<span class="display-block">
			<span class="quality-wrapper bold">{{ imageQuality }}</span> 
		</span>
	</fieldset>

	<fieldset>
		<label class="bold" for="image">Choose image</label>
		<select id="image"
				ng-init="image = images[0]"
				ng-options="image.name for image in images track by image.filename" 
				ng-model="image" ng-change="setNewImage()"></select>
	</fieldset>

	<fieldset>
		<span ng-click="compressImage()" class="form-submit-button button-type-light-silver">Generate a new image</span>
	</fieldset>
	
	<section>
		<!-- Grid C -->
		<section class="wrapper-grid-c">
			<!--- Left Cell -->
			<section class="wrapper-block-a overflow-hidden">
				<section id="js-container-statistics-currentImage"></section>

				<div class="image-preview-frame">
					<img ng-src="{{ originalImage.src }}" get-image-details ng-model="originalImageDetails"/>
				</div>
			</section>
			<!--- End Left Cell -->
			
			<!--- Right Cell -->
			<section class="wrapper-block-b overflow-hidden">
				<section id="js-container-statistics-imageWithOptimization"></section>
			</section>
			<!--- End Right Cell -->
		</section>
	</section>
</section>