<h2>
	Image scaling
</h2>

<section>
	<button ng-click="compressImage()">Generate a new image</button>

	<fieldset>
		<label>File type:</label>
		<select ng-options="filetype.extension for filetype in filetypes track by filetype.type" 
				ng-model="filetype" ng-change="setNewFileType()"></select>
	</fieldset>

	<fieldset>
		<div>
			<label>Quality: {{ imageQuality }}</label>
		</div>
		<div>
			<input type="range" min="0" max="100" value="{{ imageQuality }}" ng-model="imageQuality"/>
		</div>
	</fieldset>

	<fieldset>
		<div>
			<label>Image</label>
		</div>
		<div>
			<select ng-options="image.name for image in images track by image.filename" 
					ng-model="image" ng-change="setNewImage()"></select>
		</div>

		<!-- Grid C -->
		<section class="wrapper-grid-c">
			<!--- Left Cell -->
			<section class="wrapper-block-a overflow-hidden">
				<section id="js-container-statistics-currentImage"></section></section>
				
				<img ng-src="{{ originalImage.src }}" get-image-details ng-model="originalImageDetails"/>
			</section>
			<!--- End Left Cell -->
			
			<!--- Right Cell -->
			<section class="wrapper-block-b overflow-hidden">
				<section id="js-container-statistics-imageWithOptimization"></section>
				<section id="js-dynamic-image" ></section>
			</section>
			<!--- End Right Cell -->
		</section>
	</fieldset>
</section>



