Upload on form submit or button click
<form ng-app="fileUpload" ng-controller="MyCtrl" name="form">
  Single Image with validations
  <div class="button" ngf-select ng-model="file" name="file" ngf-pattern="'image/*'"
    accept="image/*" ngf-max-size="20MB" ngf-min-height="100" 
    ngf-resize="{width: 100, height: 100}">Select</div>
  Multiple files
  <div class="button" ngf-select ng-model="files" ngf-multiple="true">Select</div>
  Drop files: <div ngf-drop ng-model="files" class="drop-box">Drop</div>
  <button type="submit" ng-click="submit()">submit</button>
</form>

Upload right away after file selection:
<div class="button" ngf-select="upload($file)">Upload on file select</div>
<div class="button" ngf-select="uploadFiles($files)" multiple="multiple">Upload on file select</div>
  Drop File:
<div ngf-drop="uploadFiles($files)" class="drop-box"
  ngf-drag-over-class="'dragover'" ngf-multiple="true" 
  ngf-pattern="'image/*,application/pdf'">Drop Images or PDFs files here</div>
<div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>

Image thumbnail: <img ngf-thumbnail="file || '/thumb.jpg'">
Audio preview: <audio controls ngf-src="file"></audio>
Video preview: <video controls ngf-src="file"></video>

<hr/>

<h2>
	Image scaling
</h2>

<section>
	<fieldset>
		<label class="bold" for="filetype">Choose file type:</label>
		<select id="filetype"
				ng-init="filetype = filetypes[0]"
				ng-options="filetype.extension for filetype in filetypes track by filetype.type" 
				ng-model="filetype" ng-change="setNewFileType()"></select>
	</fieldset>

	<fieldset>
		<label class="bold" for="width">Width:</label>
		<input type="number" 
			   dimension-key="width"
			   change-image-dimension
			   ng-value="{{ scaleOptions.dimensions.width }}" 
			   max="{{ originalImageDetails.width }}" 
			   ng-model="scaleOptions.dimensions.width"/>
	</fieldset>

	<fieldset>
		<label class="bold" for="height">Height:</label>
		<input type="number" 
			   dimension-key="height"
			   change-image-dimension
			   ng-value="{{ scaleOptions.dimensions.height }}" 
			   max="{{ originalImageDetails.height }}" 
			   ng-model="scaleOptions.dimensions.height"/>
	</fieldset>

	<fieldset>
		<label class="bold" for="proportionally">Scale proportionally</label>
		<input type="checkbox" ng-model="scaleOptions.proportionally" id="proportionally" />
	</fieldset>

	<fieldset>
		<label class="bold" for="progressive_image_rendering">Progressive Image Rendering</label>
		<input type="checkbox" ng-model="scaleOptions.progressiveImageRendering" id="progressive_image_rendering" />
	</fieldset>

	<fieldset>
		<label class="bold" for="quality">Quality:</label>
		<input type="range" min="0" max="100" value="{{ imageQuality }}" ng-model="imageQuality" id="quality"/>
		<span class="display-block">
			<span class="quality-wrapper bold">{{ imageQuality }}</span> 
		</span>
	</fieldset>

	<fieldset>
		<label class="bold" for="image">Choose image</label>
		<select id="image"
				ng-init="image = images[0]"
				ng-options="image.name for image in images track by image.filename" 
				ng-model="image" ng-change="setNewImage()"></select>
	</fieldset>

	<fieldset>
		<span ng-click="compressImage()" class="form-submit-button button-type-light-silver">Generate a new image</span>
	</fieldset>
	
	<section>
		<!-- Grid C -->
		<section class="wrapper-grid-c">
			<!--- Left Cell -->
			<section class="wrapper-block-a overflow-hidden">
				<section id="js-container-statistics-currentImage"></section>

				<div class="image-preview-frame">
					<img ng-src="{{ originalImage.src }}" get-image-details ng-model="originalImageDetails"/>
				</div>
			</section>
			<!--- End Left Cell -->
			
			<!--- Right Cell -->
			<section class="wrapper-block-b overflow-hidden">
				<section id="js-container-statistics-imageWithOptimization"></section>
			</section>
			<!--- End Right Cell -->
		</section>
	</section>
</section>



